<br/>
<br/>
<h3 style="color: chocolate;">Welcome: {{emailId}}!</h3>

<div align="center">
    Enter Employee-Id: <input type="text" name="empId" [(ngModel)]="empId">
    <button (click)="getEmployee()">get employee</button>
</div>
<br/>
<br/>

<div *ngIf="emp" class="container">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr align="center"> 
                <th class="bg-primary text-white">EmpId</th>
                <th class="bg-primary text-white">EmpName</th>
                <th class="bg-primary text-white">Salary</th>
                <th class="bg-primary text-white">Gender</th>
                <th class="bg-primary text-white">DOJ</th>
                <th class="bg-primary text-white">Country</th>
                <th class="bg-primary text-white">EmailId</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td align="center">{{emp.empId  }}</td>
                <td align="left">{{emp.empName | uppercase | gender:emp.gender}}</td>
                <td align="right">{{emp.salary | currency:'INR'}}</td>
                <td align="left">{{emp.gender }}</td>
                <td align="center">{{emp.doj | date:'dd-MMM-yyyy'}}</td>
                <td align="left">{{emp.country}}</td>
                <td align="left">{{emp.emailId}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!emp" class="container">
    <h4 class="text-danger"> Employee Record Not Found!!!</h4>
</div>