
<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<h1>Login Form</h1>
<div class="container p-3" style="background-color: aquamarine; width: 370px; height:auto ">
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <table align="center" >
        <tr>
            <!-- <td>Enter Email-Id</td> -->
            <td>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="emailId"  #emailId="ngModel" ngModel required minlength="2" maxlength="30" />
                </div>
                <br/>
            </td>
        </tr>
        <tr style="color: red;">
            <!-- <td></td> -->
            <td>
                <p *ngIf="emailId.errors?.['required'] && emailId.touched">Please provide the Email-Id</p>
                <p *ngIf="emailId.errors?.['minlength'] && emailId.touched">Please provide atleast 2 characters for Email-Id</p>
                <!-- <p *ngIf="emailId.errors?.['pattern'] && emailId.touched">Please provide a valid Email-Id</p> -->
            </td>
        </tr>
        <tr>
            <!-- <td>Enter Password</td> -->
            <td>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="2"/>
                </div>
                <br/>
            </td>
        </tr>
        <tr style="color: red;">
            <!-- <td></td> -->
            <td>
                <p *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</p>
                <p *ngIf="password.errors?.['minlength'] && password.touched">Please provide atleast 2 characters for Password</p>
                <!-- <p *ngIf="password.errors?.['pattern'] && password.touched">Please provide a valid Password</p> -->
            </td>
        </tr>
        <tr>
            <!-- <td></td> -->
            <td>
                <button [disabled]="!loginForm"  >Login</button> New User? <a routerLink="//register">SignUp</a>
            </td>
        </tr>
    </table>
<br/>
<!-- 
<div style="color: red;">

   <div *ngIf="emailId.errors?.['required'] && emailId.touched">Please provide the Email-Id</div> 
   <div *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</div> 

   <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">Please provide atleast 2 characters for Email-Id</div> 
   <div *ngIf="password.errors?.['minlength'] && password.touched">Please provide atleast 2 characters for Password</div> 

</div> -->

</form>
</div>