<!-- <app-test></app-test> -->

<!-- <app-test2></app-test2> -->

<!-- <app-login></app-login> -->
<!-- <app-showemployees></app-showemployees> -->
<!-- <app-register></app-register> -->

<!-- <app-showempbyid></app-showempbyid> -->

<!-- <app-product></app-product> -->

<app-header></app-header>

<router-outlet></router-outlet>